@import 'devise';
@import 'profile';
@import 'timeline';
@import 'comments';


.container {
    height: auto+100vh;
    padding: 5px;
    text-align: center;
    
    background: -moz-linear-gradient(top, #FFC778, #FFF);
    background: -webkit-linear-gradient(top, #FFC778, #FFF);
    background: linear-gradient(to bottom, #FFC778, #FFF);
    }
a {
    text-decoration: none;
    color: black;
}

.hidden{
    display: none;
}