@import 'devise';
@import 'profile';
@import 'timeline';
@import 'comments';


.container {
    height: auto;
    padding: 5px;
    text-align: center;
}
a {
    text-decoration: none;
    color: black;
}

.hidden{
    display: none;
}