
.login_img {
    position: relative;
    width: 100vw;
    height: auto;
}

.devise_field{
    text-align: center;
}

.devise_label {
    font-family: Poppins;
    font-style: normal;
    font-weight: 500;
    font-size: 11px;
    line-height: 16px;
    position: relative;
    left: -120px;

    color: #979797;

    &_forgot {
        position: relative; 
        left: 100px;
        top: -40px;

        color: #979797;

        text-decoration: none;
    }
}
.devise_input {
    text-align: start;

    width: 90%;
    border: none;
    border-bottom: 1px solid #9E9E9E;

    font-family: Poppins;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
}

.devise_submit {
    position: relative;

    width: 90%;
    height: 48px;
    top: 130px;

    text-align: center;

    border:none;
    background: #FFE600;
}