
#avatar_form {
    display: inline-block;
    text-align: center;
    margin-top: 0em;
    position: relative; top: 10em;
    // width: fit-content;
    // height: 5em;
}
.user_name{
    display: inline-block;
    position: relative; top: 3em;
    font-family: Poppins;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    text-align: center;

    width: 200px;
    height: 20px;

    h2 {
        text-align: center;
    }
}

.avatar{
    width: 84px;
    height: 84px;
    text-align: center;
    position: relative;
    margin-top: 1em;

    border: 1px solid #E91E63;
    border-radius: 50%
}

.yajirusi{

    position: relative; top: 6.5vh; right: 30vw;

    a {
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }

    img {
        block-size: 20px;
    }
}

.inline {
    position: relative; top: 12em;
    text-align: center;
}

.profile-number {
    display: inline-block;
    padding: 0 1em;
    width: 4em;

    font-family: Poppins;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    /* identical to box height */
    align-items: center;

    color: #535353;

    a{
        color: #535353;
    }


    .profile-content{
        padding: none;

        font-family: Poppins;
        font-style: normal;
        font-weight: 500;
        font-size: 14px;
        line-height: 21px;

    }
}

.none {
    display: none;
}


.my_post{
    position: relative; top: 20vh;
    text-align: center;
    width: 100vw;
}

.cards{
    display: inline-block;
}

.img_container{
    display: inline-block;
    width: 100vw;
    height: auto;
}

.unfollow{
    font-size: 16px;
}

.follow{
    font-size: 16px;
    position: relative; top: 4vh; left: 75vw;
    width: fit-content;
}