// Place all the styles related to the timeline controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
/* Rectangle */

.new_action_head{
    display: flex;
    justify-content: space-evenly;
}

.time_line_cancel{
    position: relative; top: 1rem;
    font-family: Poppins;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    text-align: left;
    position: relative; right: 20vw;
    text-decoration: none;
    color: black;
}
.timeline_status{
    position: relative; top: 1rem;
    font-family: Poppins;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;

    position: relative; right: 17vw;
}

.time_line_album_field{
    border: 1px solid #E0E0E0;
box-sizing: border-box;
}

.timeline_new_avatar{
    width: 40px;
    height: 40px;
    position: relative; right: 11rem; top: 2rem;
    margin-top: 1em;

    border: 1px solid #000000;
    border-radius: 50%
}

.index_avatar{
    width: 40px;
    height: 40px;
    position: relative;
    margin: 1rem 1rem;
    border-radius: 50%;
    border: 1px solid black;
}

.timeline_card{
    padding: 1rem;
}

.index_username{
    font-family: Poppins;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 21px;
    display: flex;
    align-items: center;
}

.timeline_user{
    display: flex;
}

.timeline_new_name{
    font-family: Poppins;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    position: relative; right: 5rem; bottom: 1rem;

    color: #333333;

}

.time_line_text_label{
    width: 25rem;
    height: 2rem;
    left: 0.5rem;
    top: 6.5rem;

    border: none;
    border-bottom: 1px solid #9E9E9E;

    margin-top: 3rem;
}

.time_line_album_field{
    width: 73px;
    height: 24px;

    padding: 0.3rem;

    position: relative; right: 10rem; top: 1.5rem;

    border: 1px solid #E0E0E0;
    box-sizing: border-box;
}
.time_line_album_field2{
    display: none;
}

.time_line_submit{
    font-family: Poppins;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    align-items: right;
    text-align: right;

    background-color:#ffffff;
    border: none;

    position: relative; left: 40vw; top: -13.8rem;

    /* Gray 4 */

    color: #000000;

}

.timeline-camera{
    width: 20px;
    height: 20px;

    text-align: left;
    position: relative; left: 2.5rem; top: 1.5rem;
}

.img_container{
    display: flex;
    padding: 1rem;
    width: 80vw;
    height: 225px;
}

#img_container_album0{
    display: flex;
    object-fit: scale-down;
    width: 170px;
    height: 225px;
    margin: 0.5rem;
}

#img_container_album1{
    display: flex;
    object-fit: scale-down;
    width: 138px;
    height: 109px;
    margin: 0.5rem;
}

#img_container_album2{
    display: flex;
    object-fit: scale-down;
    width: 138px;
    height: 109px;
    margin: 0.5rem;

    position: relative; top: 120px; right: 150px;
}

#img_container_album3{
    display: flex;
    object-fit: scale-down;
    width: 170px;
    height: 225px;
    margin: 0.5rem;
}

#img_container_album4{
    display: flex;
    object-fit: scale-down;
    width: 138px;
    height: 109px;
    margin: 0.5rem;
}

#img_container_album5{
    display: flex;
    object-fit: scale-down;
    width: 138px;
    height: 109px;
    margin: 0.5rem;
}

.timelines_title{
    font-family: Poppins;
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 18px;
    text-align: left;
    padding: 1rem;
}

.index_create_at{
    width: 100px;
    margin: 5px;
    text-align: left;
    position: relative; left: 5rem; bottom: 2.5rem;
}

.index_username{
    position: relative; bottom: 1rem;
}

.timeline_delete{
    position: relative; left: 10rem;
}

.timeline_fun{
    padding: 1rem;
    text-align: left;
    display: flex;
}

.comment_img{
    padding: 0.5rem;
}

.share_img{
    padding: 0.5rem;
}
.heartimg{
    padding: 0.2rem;
    position: relative; top: 0.5rem;
}

.likes_count{
    height: 2rem;
    width: auto;

    position: relative;  top: 0.5rem;
    margin: 0.3rem;
}

.log_out{
    position: relative; top: 0.3vh; right: -40vw;
}